.button{
	padding: 1rem;
	display: inline-flex;
	align-items: center;
	gap: 0.5rem;
	line-height: 0;
	text-align: center;
	font-weight: 700;
	font-size: 1rem;
	color: var(--gray-100);
	cursor: pointer;
	outline: none;
	border: none;
	border: solid 1px transparent;
	transition: background-color, opacity, 0.1s;
	border-radius: var(--border-radius);
	background-color: var(--blue-dark);
}

.button:disabled {
	opacity: 0.75;
	cursor: not-allowed;
}

.button:not(:disabled):hover {
	background-color: var(--blue);
}