.label {
	position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.input {
  width: 100%;
  flex: 1;
  padding: 1rem;
  color: var(--gray-100);
  font-size: 1rem;
  line-height: 0;
  outline: none;
  border: solid 1px transparent;
  border-radius: var(--border-radius);
  background-color: var(--gray-500);
}

.input::placeholder {
  color: var(--gray-300);
}

.input:focus {
  border-color: var(--purple-dark);
}