.task {
  min-height: 72px;
  width: 100%;
  display: inline-flex;
  align-items: flex-start;
  gap: 0.75rem;
  padding: 1rem;
  border: solid 1px var(--gray-400);
  border-radius: var(--border-radius);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  background-color: var(--gray-500);
}

.checkbox {
  appearance: none;
  width: 17.45px;
  height: 17.45px;
  position: relative;
  cursor: pointer;
  border: solid 2px var(--blue);
  border-radius: 50%;
  transition: background-color, 0.1s;
}

.checkbox::after {
  content: url('../assets/check-icon.svg');
  position: absolute;
  inset: -1px 1px;
  opacity: 0; 
}

.checkbox:checked:after {
  opacity: 1;
}

.checkbox:checked {
  border-color: var(--purple-dark);
  background-color: var(--purple-dark);
}

.label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.concluded,
.notConcluded {
  flex: 1;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1rem;
  transition:  color, 0.1s;
}

.concluded {
  color: var(--gray-300);
  text-decoration-line: line-through;
}

.notConcluded {
  color: var(--gray-100);
}
