.container {
	width: 100vw;
	max-width: 736px;
	margin: 0 auto;
	padding: 0 1rem;
}

.newTaskForm {
	width: 100%;
	display: inline-flex;
	align-items: center;
	gap: 0.5rem;
	position: relative;
	top: -26px;
	margin-bottom: 1rem;
}

.label {
	position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.input {
  width: 100%;
  flex: 1;
  padding: 1rem;
  color: var(--gray-100);
  font-size: 1rem;
  line-height: 0;
  outline: none;
  border: solid 1px transparent;
  border-radius: var(--border-radius);
  background-color: var(--gray-500);
}

.input::placeholder {
  color: var(--gray-300);
}

.input:focus {
  border-color: var(--purple-dark);
}

.tasksList {
	width: 100%;
	max-height: 500px;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	overflow: auto;
}

.tasksList::-webkit-scrollbar {
	display: none;
}

@media (min-width: 768px) {
	.container {
		padding: 0;
	}

	.newTaskForm {
		margin-bottom: 3rem;
	}
}